---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Sections/Skills";
---

<Layout title="Ishtiaq Hossain - Full Stack Developer">
  <main class="text-white">
    <div class="mb-4">
      <h1 class="text-5xl font-medium">Ishtiaq Hossain</h1>
      <h2 class="text-xl">Full stack developer</h2>
    </div>
    <div class="block max-w-4xl mb-8">
      <p>
        Hello there! <br /><br />
         I'm a fullstack web developer with a deep passion for programming. I
        thrive on the pursuit of perfection in every problem I tackle. I'm here
        to explore this realm filled with endless possibilities fuled with
        constant evolution.
      </p>
    </div>
    <h2 class="text-2xl text-teal-300 font-semibold mb-8">SKILLS</h2>
    <Skills client:load />
  </main>
</Layout>
