---
import Layout from "../layouts/Layout.astro";
import Projects from "../components/Projects";
---

<Layout title="Ishtiaq Hossain - Timeline" padded={false}>
  <main class="text-white">
    <Projects client:load />
  </main>
</Layout>
