---
import Layout from "../layouts/Layout.astro";
import Javascript from "../components/icons/Javascript";
import React from "../components/icons/React";

import type { SVGProps } from "react";

const lorem =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";

const icons: { [key: string]: (props: SVGProps<SVGSVGElement>) => any } = {
  javascript: Javascript,
  react: React,
};

const logs = [
  {
    title: "Ahoy",
    subtitle: "Booking Management System",
    skils: ["javascript", "react"],
    description: lorem,
  },
  {
    title: "Ahoy",
    subtitle: "Booking Management System",
    skils: ["javascript", "react"],
    description: lorem,
  },
];
---

<Layout title="Ishtiaq Hossain - Timeline" padded={false}>
  <main class="text-white">
    {
      logs.map((log) => (
        <div class="hover:bg-teal-950 !bg-opacity-30 p-4 lg:p-8 mb-4 transition-all duration-200">
          <h1 class="text-teal-300 font-semibold">Ahoy</h1>
          <h2 class="text-teal-600">Booking Manegment System</h2>
          <div class="flex space-x-3 my-2">
            {log?.skils?.map((skill) => {
              const Icon = icons?.[skill] ?? null;
              return <div class="w-5">{<Icon />}</div>;
            })}
          </div>
          <p>{log.description}</p>
        </div>
      ))
    }
  </main>
</Layout>
