---
import Layout from "../layouts/Layout.astro";
// import Projects from "../components/Projects";
import Timeline from "../components/Timeline";
---

<Layout title="Ishtiaq Hossain - Timeline" padded={false}>
  <main class="text-white">
    <Timeline client:load />
  </main>
</Layout>
