---
import NavItem from "./NavItem.astro";
---

<nav
  class="w-full md:w-[6rem] flex flex-row md:flex-col md:h-screen justify-stretch"
>
  <NavItem label="ABOUT" url="/" />
  <NavItem label="LOGS" url="/logs" />
  <NavItem label="CONTACT" url="/contact" />
</nav>
